[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
redis = "*"
djangorestframework = "*"
django-cors-headers = "*"
markdown = "*"
celery = {version = "*", extras = ["redis"]}
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
